.DS_Store
.parcel-cache
**/junit.xml
npm-debug.log
yarn-error.log
pnpm-debug.log
node_modules
dist
lib
.idea
.vscode/
test-types.js
docs/build/
yarn.lock
package-lock.json
pnpm-lock.yaml
.npmrc
docs/
