version: 2

repo:
  public: react-client-sdk
  private: react-client-sdk-private
  
branches:
  - name: main
    description: 3.x
  - name: 2.x

publications:
  - url: https://www.npmjs.com/package/launchdarkly-react-client-sdk
    description: npm

jobs:
  - docker:
      image: node:16-buster
    template:
      name: npm

documentation:
  gitHubPages: true
  title: LaunchDarkly React SDK

sdk:
  displayName: "React"
